.edit-form {
  max-width: 300px;
  margin: auto;
}
.button1 {
  /* background-color: #ffc107; */
 
  padding: 8px 30px;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  background-image: linear-gradient(to right, #6A9113 0%, #141517 5%, #6A9113 100%);
  /* background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%); */
}
.button1:hover { background-position: right center;
color: white; }
label{
  color: black;
  font-weight: 499;
}