.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
table.table1{
  
  border:1px
}
table.table1 td 
{
    text-align: center; 
    vertical-align: middle;
    color: black;
    font-weight: 499;
}

table.table2 {background-color: #ffffff; filter: alpha(opacity=40); opacity: 0.95;border:1px  solid;  border-color: #323232;}
table.table2 tr{ border: solid thin; border-color: #323232; }

table.table2 th{
  text-align: center; 
    vertical-align: middle;
}
table.table2 td 
{
    text-align: center; 
    vertical-align: middle;
}
table.table2 tr:nth-child(even)
{
background-color:#e1e9cf;
}
.button1 {
  /* background-color: #ffc107; */
 
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  background-image: linear-gradient(to right, #6A9113 0%, #141517 5%, #6A9113 100%);
  /* background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%); */
}
.button1:hover { background-position: right center;
color: white; }